<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dankredues.com ACP</title>
        <link href="/static/css/styles.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        {% include 'draeger/topbar.html' %}
        {% include 'draeger/leftnav.html' %}



            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Profil-Liste</h1>
                        


                      
                        <!-- HERE START RENDERED DATA-->
                        
                          
                       
                        <div class="card ">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>                                
                                Verfügbare Profile  
                            </div>
                            <input class="form-control" id="searchConf" type="text" placeholder="Search..">

                            <ul class="list-group" id="confList">
                                {% for profile in availConfs%}
                                
                                <li class="list-group-item"> <a href="/draeger/showConf/{{profile}}"> {{availConfs[profile].name}} </a></li>
                                {% endfor %}
                            </ul>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Upload
                            </button>
                            

                            
                                


                                
                                
                                
                                
                                </div>
                            </div>  
                         </div>       
                    </div>

                    <br><br>
                    <!-- ---------------------------------------->
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <form action='/draeger/uploadConfig' method="POST" enctype="multipart/form-data">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Neue Konfiguration hochladen</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="X">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                               
                                    <div class="form-group">
                                      <label for="name">Bezeichnug / Name</label>
                                      <input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="">
                                      <small id="emailHelp" class="form-text text-muted">Bezeichnung unter welcher die Konfiguration gespeichert wird</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="version">Bezeichnug / Name</label>
                                        <input type="text" class="form-control" id="version" aria-describedby="versionHelp" placeholder="VG7.1.1">
                                        <small id="version" class="form-text text-muted">IACS Software Stand</small>
                                      </div>
                                      <div class="form-group">
                                        <label for="profileZip">Datei (ZIP)</label>
                                        <input type="file" class="form-control-file" name="file" id="profileZip">
                                      </div>
                                    
                                  
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                        </form>
                        </div>
                    </div>
                    
                </main>

                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        
            

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/static/vendor/js/scripts.js"></script>
        
        <script>
            $(document).ready(function(){
              $("#searchConf").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#confList li").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });
        </script>
    </body>
</html>
